<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Server name="Catalina">
        <Service name="Catalina">
            <Engine defaultHost = "localhost">
                <Host name = "localhost">
                    <Context path="/b" docBase="/Users/chushi/develop/IdeaProjects/diytomcat/webapps/ROOT/b" />
                </Host>
            </Engine>
        </Service>
    </Server>
</Server>